.txt_center{
    text-align: center;
}
.first_part{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.txt_p{
    font-size: 18px;
    color: rgb(58, 55, 55);
}
.second_part{
    background-color: rgb(193, 231, 233);
}
.card{
    border-radius: 10px;
}